<!doctype html>
<html lang="{{ site.lang | default: 'nn' }}" data-theme="dark">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  {%- assign site_title = site.title | default: "Torbjørn Bergwitz Lauen" -%}
  {%- assign page_title = page.title | default: site_title -%}
  <title>{{ page_title }}</title>

  <!-- default dark stylesheet -->
  <link rel="stylesheet" href="{{ '/assets/css/dark.css' | relative_url }}">

  <script defer src="https://cloud.umami.is/script.js" data-website-id="173a6fef-b5db-447e-a4bd-e07eb2108a2c"></script>
</head>
<body>
  <main class="content">
    {{ content }}
  </main>
</body>
</html>
